.card-div {
    display: flex;
    background-color: rgb(247, 247, 240);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:solid 1px black;
}

.title-card{
    font-size: 15px;
}

.price{
    font-size: 12px;
}
